li.item {
	list-style: none;
	width: 150px;
	color: #1A1A1A;
	background-color: #D5DDF6;
	border: 1px solid #97B0F8;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 5px 12px;
}
li.item:before {
	content: "-"
	font-family: Arial, sans-serif;
	display: inline-block;
	font-size: inherit;
	cursor: move;
}
li.object-item {
	list-style: none;
	width: 150px;
	color: #1A1A1A;
	background-color: #D5DDF6;
	border: 1px solid #97B0F8;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 5px 12px;
}
li.object-item:before {
	content: "≣";
	font-family: Arial, sans-serif;
	display: inline-block;
	font-size: inherit;
	cursor: move;
}
.items-panel {
	display: flex;
	justify-content: space-around;
}
.vis-item.vis-selected {
	background-color: white;
	border-color: black;
	color: black;
	box-shadow: 0 0 10px gray;
}


.t-green {
	background-color: greenyellow;
	border-color: green;
}
.t-blue {
	background-color: skyblue;
	border-color: blue;
}
.t-red {
	background-color: red;
	border-color: darkred;
}
.t-purple {
	background-color: mediumPurple;
	border-color: purple;
}
.t-orange {
	background-color: orange;
	border-color: darkOrange;
}
.t-navy {
	background-color: darkSlateGray;
	border-color: Navyt
}

.label {
	width: 10em;
	padding: 3px;
}

.buttonright {
	float: right;
}
